/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --font-variation-settings: 400;
    --font-weight: 700;
    --button-text: #fff;
    --background-color: #fff;
    --label-color: #fff;
    --accent-color: #000;
    --color-heart: #f00;
    --opacity-background: #000;
    --background-image:     
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
/* долистайте, пожалуйста, страницу до конца. К низу фон более четкий как в макете */

  }

  :root.theme-dark {
    --font-variation-settings: 465;
    --font-weight: 785;
    --button-text: #00CC14;
    --background-color: #000;
    --label-color: #00cc14;
    --accent-color: #00cc14;
    --color-heart: #f00;
    --opacity-background: #000;
    --background-image:     
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
/* цвета для градиента использованы в соответсвии с макетом */
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --font-variation-settings: 465;
      --font-weight: 785;
      --button-text: #00CC14;
      --background-color: #000;
      --label-color: #00cc14;
      --accent-color: #00cc14;
      --color-heart: #f00;
      --opacity-background: #000;
      --background-image:        
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c, #004306);
  }
}